name=Trovo Chat
interval=3
url=https://trovo.live/chat/<USERNAME>
width=350
height=700
snapshotSelector=
deviceScaleFactor=1
cleanElements=.header-right,.chat-header-wrap,.celebrations-container,.input-panels-container